[build]
builder = "DOCKERFILE"
dockerfilePath = "Backend/project/Dockerfile"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
